body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0 20px; 
}

.col-6 {
    display: flex;
    max-width: 80%;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;
}

.image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50%;
}

.image-container img {
    max-width: 100%;
    height: auto;
    max-height: 500px;
}

.login-form {
    flex: 1;
    width: 100%;
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form h2 {
    margin-bottom: 30px;
    font-size: 32px;
    color: #333;
}

.input {
    width: 100%;
    margin-bottom: 20px;
    padding: 15px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.submit-btn {
    width: 100%;
    padding: 15px;
    background-color: #4a2b8a;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #311b5b;
}

.login-form p {
    margin-top: 20px;
    font-size: 18px;
}

.login-form a {
    color: #007bff;
    text-decoration: none;
    font-size: 18px;
}

.login-form a:hover {
    text-decoration: underline;
}

/* Responsive Styles */

@media (max-width: 1200px) {
    .login-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .col-6 {
        flex-direction: column;
        max-width: 100%;
    }

    .image-container,
    .login-form {
        max-width: 100%;
    }
}

@media (max-width: 768px) {
    .login-container {
        flex-direction: column;
        width: 100%;
    }

    .col-6 {
        flex-direction: column;
        max-width: 100%;
        margin: 0;
    }

    .image-container,
    .login-form {
        width: 90%;
        margin: 10px 0; 
    }

    .input,
    .submit-btn {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .login-container {
        flex-direction: column;
        width: 100%;
    }

    .col-6 {
        flex-direction: column;
        max-width: 100%;
        margin: 0;
    }

    .image-container,
    .login-form {
        width: 90%;
        margin: 10px 0; 
    }

    .input {
        width: 100%;
        padding: 10px;
    }

    .submit-btn {
        width: 100%;
        padding: 10px;
        font-size: 16px;
    }
}
